{% extends "users/base.html" %}
{% load static i18n static %}
{% block title %}{% trans "Cambio contraseña" %}{% endblock %}
{% block css %}

{% endblock css %}
{% block container %}
<form  method="post">
  {% csrf_token %}
<main class="flex-shrink-0 pt-0 h-100">
  <div class="container-fluid">
    <div class="auth-wrapper d-flex flex-column minvheight-100">
      <header class="adminuiux-header">
        <nav class="navbar navbar-expand-lg fixed-top">
          <div class="container-fluid"><button class="btn btn-square btn-link" onclick="goBack()"><i
                class="bi bi-arrow-left"></i></button>

            <div class="ms-auto"><a href="{% url 'users:login' %}" class="btn btn-link">Iniciar sesión</a></div>
          </div>
        </nav>
      </header>

      <div class="row align-items-center justify-content-center py-4 mt-auto">
        <div class="col-11 col-sm-8 col-md-11 col-xl-11 col-xxl-10 login-box">
          <div class="mb-4">
            <h2 class="text-theme-accent-1 mb-0">Hola,</h2>
            <h1 class="text-theme-1">{% trans 'Recuperar contraseña' %}</h1>
            <p class="text-secondary">Si tu correo existe en nuestro sistema recibiras un correo de confirmación</p>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="email" id="id_email"
                    class="form-control {%if form.email.errors %}is-invalid{%endif%}"
                    value="{%if form.errors %}{{form.email.value|default_if_none:''}}{%endif%}" autofocus> <label for="emailadd">Correo electrónico</label></div>
                    <button type="submit" class="btn btn-lg btn-theme w-100 mb-4">Recuperar</button>
            <br>
        </div>
      </div>
       <footer class="adminuiux-footer mt-auto">
          <div class="container-fluid text-center"><span class="small">Copyright @2026, <a target="_blank">Neural
                consciente</a>💙</span></div>
        </footer>

    </div>
  </div>
</main>
</form>

{% endblock %}

{% block js %}
<script>document.addEventListener("DOMContentLoaded", (function () { $("#title").length > 0 && $(".title").html($("#title").html()) }))</script>
{% endblock js %}
