{% extends 'users/base.html' %}
{% load static i18n static %}
{% block title %}{% trans "Reinicio contraseña" %}{% endblock %}

{% block container %}
  <main class="container-fluid">
    <div class="auth-wrapper d-flex flex-column minvheight-100">
      <header class="adminuiux-header">
        <nav class="navbar navbar-expand-lg fixed-top">
          <div class="container-fluid"><button class="btn btn-square btn-link" onclick="goBack()"><i
                class="bi bi-arrow-left"></i></button>
            <div class="ms-auto"><a href="fitness-login.html" class="btn btn-link">Iniciar sesión</a></div>
          </div>
        </nav>
      </header>
      <div class="row align-items-center justify-content-center py-4 mt-auto">
        <div class="col-11 col-sm-8 col-md-11 col-xl-11 col-xxl-10 login-box">
          <div class="text-center mb-4">
            <h1 class="display-2 fw-bold mb-0">📤<br>Correo enviado</h1>
            <p class="text-secondary">
              Por favor revisa tu correo para continuar con el proceso de cambio de contraseña.
            </p>
          </div>
        </div>
      </div>

       <footer class="adminuiux-footer mt-auto">
          <div class="container-fluid text-center"><span class="small">Copyright @2026, <a target="_blank">Neural
                consciente</a>💙</span></div>
        </footer>

    </div>
  </main>

{% endblock %}
