{% extends "users/base.html" %}
{% load static i18n static %}
{% block title %}{% trans "Cambio contraseña" %}{% endblock %}
{% block css %}

{% endblock css %}
{% block container %}
<form method="post">
  {% csrf_token %}
  <main class="flex-shrink-0 pt-0 h-100">
    <div class="container-fluid">
      <div class="auth-wrapper d-flex flex-column minvheight-100">
        <header class="adminuiux-header">
          <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid"><button class="btn btn-square btn-link" onclick="goBack()"><i
                  class="bi bi-arrow-left"></i></button>
              <div class="ms-auto"><a href="/" class="btn btn-link">Iniciar sesión</a></div>
            </div>
          </nav>
        </header>
        {% if not validlink %}
        <div class="row align-items-center justify-content-center py-4 mt-auto">
          <div class="col-11 col-sm-8 col-md-11 col-xl-11 col-xxl-10 login-box">
            <div class="mb-4">
              <h2 class="text-theme-accent-1 mb-0">{{request.user.first_name|title}}</h2>
              <h1 class="fw-bold text-theme-1">Este link expiró</h1>
              <p class="text-secondary">Solcita una nuevo acá
                <a href="{% url 'password_reset' %}" class="text-theme-accent-1">Recuperar contraseña</a>
              </p>
            </div>



          </div>
        </div>
        {% else %}
        <form action="" method="post">
          {% csrf_token %}
        <div class="row align-items-center justify-content-center py-4 mt-auto">
          <div class="col-11 col-sm-8 col-md-11 col-xl-11 col-xxl-10 login-box">
            <div class="mb-4">
              <h2 class="text-theme-accent-1 mb-0">{{request.user.first_name|title}}</h2>
              <h1 class="fw-bold text-theme-1">Cambio de contraseña</h1>
              <p class="text-secondary">Configura tu nueva contraseña</p>
            </div>
            <div class="position-relative">
              <div class="form-floating mb-3">
                <input type="password" name="new_password1"
                class="form-control {%if form.new_password1.errors or form.new_password2.errors %}is-invalid{%endif%}"
                placeholder="{% trans 'Nueva contraseña' %}" id='new_password'>
                <div class="invalid-feedback text-left">
                  {% for error in form.new_password1.errors %}
                  {{error}}
                  {% endfor %}
                </div>
                <label for="checkstrength">Nueva contaseña</label>
              </div>

              <button
                class="btn btn-square btn-link text-theme-1 position-absolute end-0 top-0 mt-2 me-2"><i
                  class="bi bi-eye"></i></button>
            </div>
            <div class="feedback mb-3 px-3">
              <div class="row">
                <div class="col">
                  <div class="check-strength" id="checksterngthdisplay">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </div>
                <div class="col-auto"><span class="small" id="textpassword"></span> <i
                    class="bi bi-info-circle text-theme ms-1" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Password should contain atleast 1 capital, 1 alphanumeric & min. 8 characters"></i>
                </div>
              </div>
            </div>
            <div class="position-relative">
              <div class="form-floating mb-4"><input type="password" name="new_password2" class="form-control {%if form.new_password2.errors %}is-invalid{%endif%}"
                placeholder="{% trans 'Confirmar nueva contraseña' %}"> <div class="invalid-feedback text-left">
                  {% for error in form.new_password2.errors %}
                  {{error}}
                  {% endfor %}
                </div><label for="passwdconfirm">Confirm Password</label></div>
              <button class="btn btn-square btn-link text-theme-1 position-absolute end-0 top-0 mt-2 me-2"><i
                  class="bi bi-eye"></i></button>
            </div>
            <button type="submit" class="btn btn-lg btn-theme w-100 mb-4">Cambiar contraseña</button><br>
          </div>
        </div>
        {% endif %}

      </form>
        <footer class="adminuiux-footer mt-auto">
          <div class="container-fluid text-center"><span class="small">Copyright @2025, <a
        target="_blank">Neural consciente</a>💙</span></div>
        </footer>
      </div>
    </div>
  </main>
</form>

{% endblock %}

{% block js %}
<script>document.addEventListener("DOMContentLoaded", (function () { $("#title").length > 0 && $(".title").html($("#title").html()) }))</script>
{% endblock js %}
