{% load static %}
<!doctype html>
<html lang="en">


<head>

	<meta charset="utf-8"/>
    <title>Neural Consciente{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:locale" content="es_CO" />
	<!-- Primary Meta Tags -->
    <meta name="title" content="Neural Consciente">
    <meta name="description" content="Neural consciente, agenda tu entrenamiento.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://neural.com.co">
    <meta property="og:title" content="Neural Consciente">
    <meta property="og:description" content="Neural consciente, agenda tu entrenamiento.">
    <meta property="og:image" content="{% static 'images/fixed_logo.png' %}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://neural.com.co">
    <meta property="twitter:title" content="Neural Consciente">
    <meta property="twitter:description" content="Neural consciente, agenda tu entrenamiento.">
    <meta property="twitter:image" content="{% static 'images/fixed_logo.png' %}">


	<!-- App favicon -->
    <link rel="shortcut icon" href="{% static '/images/brain.png' %}">
     <!-- Sweet Alert-->
     <link href="{% static 'backoffice/assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />

	<!-- Bootstrap Css -->
	<link href="{% static 'backoffice/assets/css/bootstrap.min.css' %}" rel="stylesheet"/>
	<!-- Icons Css -->
	<link href="{% static 'backoffice/assets/css/icons.min.css' %}" rel="stylesheet"/>
	<!-- App Css-->
	<link href="{% static 'backoffice/assets/css/app.min.css' %}" rel="stylesheet"/>
    <!-- Hotjar Tracking Code for neural.com.co -->
    

	{% block styles %}{% endblock %}

</head>
<style>
    #page-header-notifications-dropdown {
        width: 56px;
    }
    .footer > div:nth-child(1) {
        max-width: 100%;
        }
</style>
<body data-topbar="dark" data-layout="horizontal">

    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar" class="text-center">
            <div class="row">
            <div class="col-6 offset-3">
                <a class="logo" href="/">
                    <img src="{% static 'images/fixed_logo.png' %}" alt="" class="img-fluid" style="max-height:75px">
                </a>
            </div>
            <div class="col-3 text-right">
            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="{% static 'images/brain.png' %}"
                        alt="Header Avatar">
                    <span class="d-none d-xl-inline-block ml-1">Alejandro Duque</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- item-->
                    <a class="dropdown-item" href="#"><i class="bx bx-user font-size-16 align-middle mr-1"></i> Perfil</a>
                    <a class="dropdown-item text-danger" href="{% url 'users:logout' %}"><i class="bx bx-power-off font-size-16 align-middle mr-1 text-danger"></i> Cerrar sesión</a>
                </div>
            </div>
            </div>
        </div>
            
        </header>

        <div class="main-content">
        {% block content %}
            
        {% endblock content %}
        </div>
            <footer class="footer" >
                <div class="container-fluid" class="m-0 p-0" style="background-color:#f2f2f5">
                    <div class="row text-center" >
                        <div class="col-12">
                            <img src="{% static 'images/brain.png' %}" width="60" class="img-fluid">
                            <p class="mt-0 pt-0 mb-0">Código fuente libre bajo licencia <a href="https://github.com/aleducode/help-abejorral/blob/master/LICENSE" target="_blank">MIT License</a></p>
                            <p class="mt-0 pt-0 mb-0">Desarrollado por: <a href="https://github.com/aleducode" target="_blank">Alejandro Duque</a></p>
                            <p class="mt-0 pt-0 mb-0"> Revisá el código <a href="https://github.com/aleducode/neural" target="_blank">acá</a></p>
                            <p class="mt-0 pt-0 mb-0"> © 2020 Todos los derechos reservados</p>
                
                        </div>
                    </div>
                </div>
            </footer>
        
        <!-- end main content-->

    </div>


    <script src="{% static 'backoffice/assets/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'backoffice/assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'backoffice/assets/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'backoffice/assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'backoffice/assets/libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'backoffice/assets/js/app.js' %}"></script>
        <!-- Sweet Alerts js -->
        <script src="{% static 'backoffice/assets/libs/sweetalert2/sweetalert2.min.js' %}"></script>

        <!-- Sweet alert init js-->
        <script src="{% static 'backoffice/assets/js/pages/sweet-alerts.init.js' %}"></script>
        
        {% block js %}
            
        {% endblock js %}
            
</body>

</html>