{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="page-content">

    <div class="container-fluid">
        {% language 'es' %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span>
            </button>
            {% if 'safe' in message.tags %}
            {{ message|safe }}
        {% else %}
            {{ message }}
        {% endif %}

        </div>
        {% endfor %}
        {% endif %}
        {% endlanguage %}
        <div class="row">
            <div class="col-lg-6 offset-lg-3 mb-4 text-center">
                <h4 class="text-center">¡Hola!</h4>
                <h5 class="text-center"> 💪 {{request.user.get_full_name|title}} 🏋️‍♀️</h5>

            </div>

            <div class="col-lg-4 offset-lg-2">
                <a {% if days_duration <= 0 %}href="#" onclick="handleLinkClick()"{% else %}href="{% url 'training:schedule-v1' %}"{% endif %}>
                    <div class="card border border-success">
                        <div class="card-header bg-transparent border-success">
                            <h5 class="my-0 text-success" style="font-size: x-large;"><i
                                    class="mdi mdi-yoga mr-3"></i>
                                    {% trans 'Agendar Entrenamiento' %} </h5>
                        </div>
                        <div class="card-body mt-0 pt-0">
                            <h5>Selecciona horario y espacio de preferencia para tu entrenamiento.</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="{% url 'training:my_schedule' %}">
                <div class="card border border-info">
                    <div class="card-header bg-transparent border-info">
                        <h5 class="my-0 text-info" style="font-size: x-large;"><i
                                class="mdi mdi-calendar mr-3"></i>Ver mi Agenda</h5>
                    </div>
                    <div class="card-body mt-0 pt-0">
                        <h5>Tus entrenamientos programados para la semana.</h5>
                    </div>
                </div>
            </a>
            </div>

        </div>
        {% comment %} <div class="row">
          <div class="col-lg-6 offset-lg-3 mb-4">
              <h4 class="text-center">Servicios personalizados 💅</h4>
          </div>

          <div class="col-lg-4 offset-lg-2">
              <a href="https://wa.me/573052655596?text=Hola%20Soy%20{{user.get_full_name}}%20Estoy%20intersado%20en%20entreno%20personalizado" target="_blank">
              <div class="card border border-primary">
                  <div class="card-header bg-transparent border-primary">
                      <h5 class="my-0 text-primary" style="font-size: x-large;">
                        <i class="mdi mdi-biathlon mr-3"></i>Entreno personalizado</h5>
                  </div>
                  <div class="card-body mt-0 pt-0">
                      <h5>Tienes un profe para hacer un entreno especial, adaptado a tus necesidades.</h5>
                  </div>
              </div>
          </a>
          </div>
          <div class="col-lg-4">
              <a href="https://wa.me/+573052655596?text=Hola%20Soy%20{{user.get_full_name}}%20Estoy%20intersado%20en%20servicio%20de%20fisio" target="_blank">
              <div class="card border border-danger">
                  <div class="card-header bg-transparent border-danger">
                      <h5 class="my-0 text-danger" style="font-size: x-large;"><i
                              class="mdi mdi-medical-bag mr-3"></i>¡Me dueleee!</h5>
                  </div>
                  <div class="card-body mt-0 pt-0">
                      <h5>Necesitas que te revisemos un dolor, una molestia, se le tiene...</h5>
                  </div>
              </div>
          </a>
          </div>

        </div> {% endcomment %}
        <!-- end row -->
    </div> <!-- container-fluid -->
</div>
{% endblock content %}

{% block modal %}
<div id="resume" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
          <h3>Ya está disponible tu resumen del 2023 🏆🏆</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <a  href="{% url 'training:resume_year' %}"
        class="btn btn-primary btn-lg waves-effect waves-light text-white">Ir a verlooooo</a>
      </div>
  </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
          <h3>OEEEEEE🤪🤪</h3>

      </div>
      <div class="modal-body text-center">
        <img src="{% static 'images/giphy.gif' %}" alt="" class="img-fluid">
        <h4 class="mt-2">Queremos conocerte un poco mas, andá y contanos un par de cositas 👇👇</h4>
        <a  href="{% url 'users:profile' %}"
        class="btn btn-primary btn-lg waves-effect waves-light text-white">Completar perfil</a>
      </div>
  </div>
</div>
{% endblock modal %}

{% block js %}
    <script>
        $(document).ready(function(){

          {% if not profile %}
          $("#myModal").modal('show');

          {% endif %}

        });
        {% if days_duration > 0 %}
            var days_duration = {{ days_duration }};
            Swal.fire({
                title: 'Membresía activa.',
                text: "te quedan " + days_duration + " días para seguir entrenando.",
                type:"success"
            });
        {% elif days_duration <= 0 %}
            Swal.fire({
                title: 'Membresía vencida.',
                text: "tu membresía ha vencido, contáctate con nosotros para renovarla",
                type:"warning"
            });
        {% endif %}
    </script>
    <script>
        function handleLinkClick() {
            Swal.fire({
                title: 'Membresía vencida.',
                text: "tu membresía ha vencido, contáctate con nosotros para renovarla",
                type:"warning"
            });
            return false;
        }
    </script>
    <script>
      // show resume one time
      $("#resume").modal('show');
    </script>
{% endblock js %}
