{% load static %}
<div class="adminuiux-sidebar shadow-sm">
  <div class="adminuiux-sidebar-inner">
    <ul class="nav flex-column menu-active-line mt-3">
      <li class="nav-item"><a href="/" class="nav-link"><i class="menu-icon bi bi-columns-gap"></i> <span
            class="menu-name">Dashboard</span></a>
      </li>
      <li class="nav-item"><a href="fitness-diet-all.html" class="nav-link"><svg xmlns="http://www.w3.org/2000/svg"
            class="menu-icon" viewBox="0 0 19.679 18.075">
            <g id="meal-icon" transform="translate(-125.935 -162.02)">
              <path id="Path_42" data-name="Path 42"
                d="M3755.531,2500.078a2.477,2.477,0,0,1,2.329-2.3c2.31-.352,2.858-.352,3.6-1.331s2.232-2.78,4.268-1.605,1.879,3.093,3.446,3.367a2.323,2.323,0,0,1,1.762,2"
                transform="translate(-3628 -2329)" fill="none" stroke="" stroke-width="1" />
              <path id="Path_43" data-name="Path 43"
                d="M3767.218,2496.091c.744-.862,3.093-3.6,3.093-3.6s1.1-1.488,1.958-.744-.392,1.958-.392,1.958L3768,2497.07"
                transform="translate(-3628 -2329)" fill="none" stroke="" stroke-width="1" />
              <path id="Path_45" data-name="Path 45"
                d="M145.615,171.544H126.988s1.28,8.143,8.882,8.051,8.871-7.74,8.871-7.74" fill="none" stroke=""
                stroke-width="1" />
              <path id="Path_46" data-name="Path 46" d="M3757.935,2506.125h12.049" transform="translate(-3628 -2329)"
                fill="none" stroke="" stroke-width="1" />
              <path id="Path_47" data-name="Path 47" d="M3757.935,2506.125h12.049"
                transform="translate(-3632 -2334.582)" fill="none" stroke="" stroke-width="1" />
            </g>
          </svg> <span class="menu-name">Diet Plans</span></a></li>
      <li class="nav-item dropdown"><a href="javascrit:void(0)" class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown"><i class="menu-icon bi bi-view-list"></i> <span class="menu-name">Fitness
            Club</span></a>
        <div class="dropdown-menu">
          <div class="nav-item"><a href="fitness-club-all.html" class="nav-link"><i
                class="menu-icon bi bi-building"></i> <span class="menu-name">Clubs</span></a>
          </div>
          <div class="nav-item"><a href="fitness-club.html" class="nav-link"><i
                class="menu-icon bi bi-journal-text"></i> <span class="menu-name">Club
                Details</span></a></div>
          <div class="nav-item"><a href="fitness-club-trainers.html" class="nav-link"><i
                class="menu-icon bi bi-person-badge"></i> <span class="menu-name">Trainers</span></a></div>
        </div>
      </li>
      <li class="nav-item"><a href="fitness-calendar.html" class="nav-link"><i
            class="menu-icon bi bi-calendar2-range"></i> <span class="menu-name">Calendar</span></a>
      </li>
      <li class="nav-item"><a href="fitness-chat.html" class="nav-link"><i class="menu-icon bi bi-chat-dots"></i>
          <span class="menu-name">Chat</span></a></li>
      <li class="nav-item"><a href="fitness-referral.html" class="nav-link"><i class="menu-icon bi bi-people"></i>
          <span class="menu-name">Referral</span></a></li>
      <li class="nav-item"><a href="fitness-pages.html" class="nav-link"><i class="menu-icon bi bi-layers"></i> <span
            class="menu-name">Pages</span> <span class="badge text-bg-primary mx-2">40+</span></a></li>
      <li class="nav-item"><a href="fitness-personalization.html" class="nav-link"><i
            class="menu-icon bi bi-palette h4"></i> <span class="menu-name">Personalize
            ❤️</span></a></li>
      <li class="nav-item"><a class="nav-link" href="components.html"><i class="menu-icon bi bi-cpu"></i>
          <span class="menu-name">Components</span></a></li>
      <li class="nav-item"><a href="fitness-settings.html" class="nav-link"><i class="menu-icon"
            data-feather="settings"></i> <span class="menu-name">Settings</span></a></li>
    </ul>
    <div class="mt-auto"></div>
    <ul class="nav flex-column menu-active-line mb-2">
      <li class="nav-item"><a href="fitness-chat-and-call.html" class="nav-link">
          <div class="col-auto">
            <div class="avatar avatar-30 coverimg rounded d-block align-top"><img
                src="{% static 'assets/img/modern-ai-image/user-6.jpg' %}" alt=""></div>
          </div>
          <div class="col px-2 menu-name text-start not-iconic">
            <p class="mb-0 fs-14 lh-20">Alice Johanson<br><small class="opacity-50">Trainer</small>
            </p>
          </div>
          <div class="col-auto not-iconic"><i class="bi bi-chat-dots"></i></div>
        </a></li>
    </ul>
  </div>
</div>
