{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="page-content">
    <div class="container-fluid">
        <div class="col-xl-6 offset-lg-3">
            <a href="{% url 'users:index' %}">Regresar</a>
            <div class="card mt-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body m-0 p-0">
                                    {% if user_slots %}
                                    <h4 class="card-title mb-5 text-center">{{request.user.first_name|title}}, Esta semana vamos con toda!!</h4>
                                    <div class="">
                                        <ul class="verti-timeline list-unstyled">
                                            {% for event in user_slots %}
                                            <li class="event-list ">
                                                <div class="event-timeline-dot">
                                                    <i class="bx bx-right-arrow-circle"></i>
                                                </div>
                                                <div class="media">
                                                    <div class="mr-3">
                                                        <i class="bx {{event.random_icon}} h2 text-primary"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <div>
                                                            <h5>Entrenamiento: {{event.slot.get_training_type_display}}
                                                            </h5>
                                                            <p class="text-muted">
                                                                {% language 'es' %}
                                                                {% if event.is_now %}<span
                                                                    class="badge badge-pill badge-success float-left mr-1">HOY
                                                                </span>{% endif %} {{event.slot.date|date:"l j"}} de
                                                                {{event.slot.hour_init|date:"f"}} a
                                                                {{event.slot.hour_end|date:"f A"}} <span class="text-danger">en la {{event.space.name}}</span> .</p>
                                                            {% endlanguage %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% else %}
                                    <h4 class="card-title mb-5 text-center">Aún no tienes agenda 😧</h4>

                                    <p class="text-center">Pero.... relax, haciendo click <a
                                            href="{% url 'training:schedule' %}">aquí</a> agendas tu clase </p>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
