{% extends 'base.html' %}
{% load i18n static %}

{% block content %}

<div class="page-content">
    <div class="container-fluid">
        <div class="col-xl-6 offset-lg-3">
            <a href="{% url 'users:index' %}">Regresar</a>
            <div class="card mt-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body m-0 p-0">
                                    {% if user_slots %}
                                    <h4 class="card-title mb-5 text-center">{{request.user.first_name|title}}, Esta semana vamos con toda!!</h4>
                                    <div class="">
                                        <ul class="verti-timeline list-unstyled">
                                            {% for event in user_slots %}
                                            <li class="event-list " id="event_{{event.id}}">
                                                <div class="event-timeline-dot">
                                                    <i class="bx bx-right-arrow-circle"></i>
                                                </div>
                                                <div class="media">
                                                    <div class="mr-3">
                                                        <i class="bx {{event.random_icon}} h3 text-primary"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <div>
                                                            <h5>{{event.slot.get_training_type_display}}
                                                            </h5>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="text-muted">
                                                    {% language 'es' %}
                                                    {% if event.is_now %}<span
                                                        class="badge badge-pill badge-success float-left mr-1">HOY
                                                    </span>{% endif %} {{event.slot.date|date:"l j"}} de
                                                    {{event.slot.class_trainging.hour_init|date:"f"}} a
                                                    {{event.slot.class_trainging.hour_end|date:"f A"}} <span class="text-danger"></span>
                                                </div>
                                                <a onclick="cancelSession('{{event.pk}}')" href="#">Cancelar</a>
                                                {% endlanguage %}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% else %}
                                    <h4 class="card-title mb-5 text-center">Aún no tienes agenda 😧</h4>

                                    <p class="text-center">Pero.... relax, haciendo click <a
                                            href="{% url 'training:schedule-v1' %}">aquí</a> agendas tu clase </p>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>

    function cancelSession(pk_session) {
        Swal.fire({
            title: "Estas seguro de cancelar el entrenamiento?",
            text: "Es posible que pierdas el puesto!",
            type: "warning",
            showCancelButton: !0,
            confirmButtonText: "Si, seguro!",
            cancelButtonText: "Noooo!",
            confirmButtonClass: "btn btn-success mt-2",
            cancelButtonClass: "btn btn-danger ml-2 mt-2",
            buttonsStyling: !1
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'training:api-training-cancel-session' %}",
                    data: {
                        "user_training": pk_session,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    timeout: 5000,
                    dataType: "json",
                })
                    .done(function (response) {
                        var elem = document.getElementById('event_'+pk_session);
                        elem.parentNode.removeChild(elem);
                        Swal.fire({
                            title: "Eliminado!",
                            text: "Tu sessión de entrenamiento ha sido cancelada.",
                            type: "success"
                        })
                    })

            }
            else {
                Swal.fire({
                    title: "Ojo pueeees",
                    text: "No hemos eliminado tu entreno, nos vemos en Neural :)",
                    imageUrl: "{% static 'images/brain.png' %}",
                    imageWidth: 150,
                    imageHeight: 150,
                })
            }
        })
    }

</script>
{% endblock js %}
