{% extends 'users/base.html' %}
{% load static i18n static %}
{% block title %}Calendario{% endblock %}

{% block css %}
<link href="{% static 'assets/css/index.css' %}" rel="stylesheet">
{% endblock css %}
{% block custom_header %}
<button class="btn btn-square btn-link" onclick="goBack()"><i class="bi bi-arrow-left"></i></button>
<p class="h6 my-1 px-3 text-center"><span class="title">Inicio</span></p>
{% endblock custom_header %}
{% block container %}

<div class="adminuiux-wrap">
  {% include 'shared/sidebar.html' %}
<main class="adminuiux-content has-sidebar" onclick="contentClick()">
  <div class="container mt-3" id="main-content">
    <p class="h6 mb-3">Mi calendario</p>
    <div class="card adminuiux-card mb-2">
      <div class="card-body px-2 pt-1">
        <div class="inlinewrap1 inline-calendar mx-auto"></div><input id="inlinewrap1" class="d-none" style="">
      </div>
    </div>
    <div class="row gx-3 align-items-center mb-2">
      <div class="col">
        <hr class="">
      </div>
      <div class="col-auto">
        <p class="small text-secondary">Mis entrenos</p>
      </div>
      <div class="col">
        <hr class="">
      </div>
    </div>
    {% if user_slots %}
    {% for event in user_slots %}
    <div class="card adminuiux-card style-none mb-3">
      <div class="card-body">
        <p class="mb-3 small fw-medium text-secondary">{{event.slot.date}} | {{event.slot.class_trainging.hour_init}} -
          {{event.slot.class_trainging.hour_end}}<span class="text-success bi bi-calendar"></span></p>
        <div class="row align-items-center gx-2 mb-0">

          <div class="col-auto"><img src="{% static 'assets/img/fitness/image-5.jpg' %}"
              class="avatar avatar-40 rounded" alt=""></div>
          <div class="col">
            <h6 class="mb-0">{{event.slot.class_trainging.training_type}}</h6>
            <p class="text-secondary small text-truncated">{{event.slot.class_trainging.get_day_display}}.</p>
            <a onclick="cancelSession('{{event.pk}}')" class="btn btn-sm btn-link bg-white-opacity">Cancelar <i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    {% endif %}

  </div>
</main>
</div>
{% endblock %}
{% block js %}
<script>

  function cancelSession(pk_session) {
    Swal.fire({
      title: "Estas seguro de cancelar el entrenamiento?",
      text: "Es posible que pierdas el puesto!",
      type: "warning",
      showCancelButton: true,
      confirmButtonText: "Si, seguro!",
      cancelButtonText: "Noooo!",
    }).then((result) => {
      if (result.value) {
        $.ajax({
          type: 'POST',
          url: "{% url 'training:api-training-cancel-session' %}",
          data: {
            "user_training": pk_session,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
          },
          timeout: 5000,
          dataType: "json",
        })
          .done(function (response) {
            var elem = document.getElementById('event_' + pk_session);
            elem.parentNode.removeChild(elem);
            Swal.fire({
              title: "Eliminado!",
              text: "Tu sessión de entrenamiento ha sido cancelada.",
              type: "success"
            })
          })

      }
      else {
        Swal.fire({
          title: "Ojo pueeees",
          text: "No hemos eliminado tu entreno, nos vemos en Neural :)",
          imageUrl: "{% static 'images/brain.png' %}",
          imageWidth: 150,
          imageHeight: 150,
        })
      }
    })
  }

</script>
{% endblock js %}
