{% extends 'base.html' %}
{% load i18n static %}

{% block styles %}
<style>
  .avatar-title {
    background-color: unset
  }
  .container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
 padding-left: 0px;
  padding-right: 0px;
}

</style>
{% endblock styles %}

{% block content %}
{% language 'es' %}
<div class="page-content">
  <div class="container-fluid">
    <div class="col-xl-6 offset-lg-3">
      <a href="{% url 'users:index' %}">Regresar</a>
      <div class="card mt-2">

        {% if not trainings %}
        <div class="card-body">
          <h3 class="text-danger">No está disponible el resumen del 2022 debido a tu poca asistencia a neural, :(</h3>
        </div>
        {% else %}


        <div class="card-body">
          <h4 class=" text-center text-primary">Resumen 2022 de {{request.user.first_name|title}} 😛</h4>
          <div class="col-12 text-center">
            <img src="{% static 'images/3d.png' %}" alt="" width="40%" class="img-fluid">
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="card">
                <div class="card-body">
                  <div class="text-center">

                    <p class="font-16 text-muted mb-2"></p>
                    <h3><a href="#" class="text-dark">Total de entrenos: <span class="text-muted font-16">{{trainings}}
                          veces {{reaction}}</span> </a></h3>
                    <p class="text-muted">Ahora revisemos la frecuencia y periodicidad de entrenamientos.</p>
                  </div>
                  <div class="row mt-4">

                    <div class="col-md-12">
                      <div class="card mini-stats-wid">
                        <div class="card-body">
                          <div class="media">
                            <div class="media-body">
                              <p class="text-muted font-weight-medium">Día favorito</p>
                              <h4 class="mb-0">{{best_day_name}}</h4>
                            </div>

                            <div class="mini-stat-icon avatar-sm rounded-circle bg-info align-self-center">
                              <span class="avatar-title">
                                <i class="bx bx-calendar-alt  font-size-24"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="card mini-stats-wid">
                        <div class="card-body">
                          <div class="media">
                            <div class="media-body">
                              <p class="text-muted font-weight-medium">Horario favorito</p>
                              <h4 class="mb-0">{{best_train_hour|date:"g:i A"}}</h4>
                            </div>

                            <div class="mini-stat-icon avatar-sm rounded-circle bg-warning align-self-center">
                              <span class="avatar-title">
                                <i class="bx bx bx-timer  font-size-24"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="card mini-stats-wid">
                        <div class="card-body">
                          <div class="media">
                            <div class="media-body">
                              <p class="text-muted font-weight-medium">Entreno favorito</p>
                              <h4 class="mb-0">{{best_train}}</h4>
                            </div>

                            <div class="mini-stat-icon avatar-sm rounded-circle bg-danger align-self-center">
                              <span class="avatar-title">
                                <i class="bx bx bx-football  font-size-24"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title mb-4">Asistencia Mensual 🤓</h4>
                  <p>Le metimos matematica a esta vuelta pa que revises como entrenás, y todos tus hábitos</p>

                  <div id="line_chart_dashed" class="apex-charts" dir="ltr"></div>
                </div>
              </div>
              <div class="card bg-soft-primary">
                <div>
                  <div class="row">
                    <div class="col-12">
                      <div class="text-primary p-3">
                        <h5 class="text-primary">Tu mejor mes fué:</h5>
                        <p style="font-size: medium;">{{best_month_name}} 🎉🎉🥳</p>

                        <ul class="pl-3 mb-0">
                          <li class="py-1">Entrenaste {{best_month}} veces en ese mes, que locura!!</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-12 text-center">
                      <img src="{% static 'images/3d-2.png' %}" alt="" class="img-fluid" width="50%">
                    </div>
                  </div>
                </div>
              </div>

              {% if cancelled_trainings %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <h4 class="text-warning">Ahora vamos con los regaños: </h4>
                <li>Cancelaste {{cancelled_trainings}} entrenos, eeeeeeehhhh!</li>
                <li>Qué pasó en {{worst_month_name}}, te vimos pocooooo. jaja</li>

                <p class="mt-5">Viste que estamos super pendientes de todo 🤪</p>

                </button>
              </div>
              {% endif %}
              <div class="card bg-primary text-white text-center p-3">
                <blockquote class="card-blockquote mb-0">
                  <p>Este fué tu resumen del 2022 en Neural, fué un placer para nosotros contar con vos.</p>
                  <footer class="blockquote-footer text-white font-size-12">
                    Sí te pareció chimbita esto, compartilo en tus redes ❤️ <cite title="Source Title">
                      Att: Team Neural y alejo (el percero de tecnología)
                    </cite>
                  </footer>
                </blockquote>
              </div>

            </div>

          </div>


          </form>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>
{% endlanguage %}
{% endblock content %}

{% block js %}
<script src="{% static 'backoffice/assets/libs/apexcharts/apexcharts.min.js' %}"></script>
<script>
  options = {
    chart:
    {
      height: 380,
      type: "line",
      zoom: { enabled: !1 },
      toolbar: { show: !1 }
    },
    colors: ["#556ee6", "#f46a6a", "#34c38f"],
    dataLabels: { enabled: !1 }, stroke: { width: [3, 4, 3], curve: "straight", dashArray: [0, 8, 5] },
    series: [
      { name: "Veces", data: {{ array_per_month| safe}} }],
  markers: { size: 0, hover: { sizeOffset: 6 } },
  xaxis: { categories: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"] },
  grid: { borderColor: "#f1f1f1" }
  };
  chart = new ApexCharts(
    document.querySelector("#line_chart_dashed"),
    options
  ).render();
</script>
{% endblock js %}
