{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% language 'es' %}
<div class="page-content">
    <div class="container-fluid">
        <div class="col-xl-6 offset-lg-3">
            <a href="{% url 'users:index' %}">Regresar</a>
            <div class="card mt-2">
                <div class="card-body">
                    <h3 class="mb-4 text-center">Seleccionar Día</h3>
                    <form method="POST">

                        <div class="card-body border-top">
                            <div class="text-center">
                                <div class="row">
                                    
                                    {% for day in days %}
                                    
                                    <a href="{% url 'training:training-types' day.date %}">
                                        <div class="col-sm-4">
                                            <div>
                                                <div class="font-size-24 text-primary mb-2">
                                                    <i class="bx bx-calendar-check "></i>
                                                </div>
                                    
                                                <p class="text-muted mb-2">{{day.date}}</p>
                                                <h5>{{day.day}}</h5>
                                    
                                                <div class="mt-3 mb-2">
                                                    <a href="{% url 'training:training-types' day.date %}" class="btn btn-primary btn-sm w-md">Ver Clases</a>
                                                </div>
                                                <hr>
                                            </div>
                                        </div>
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endlanguage %}
{% endblock content %}

{% block js %}
{% endblock js %}