{% extends 'base.html' %}


{% block content %}

<div class="page-content">
    <div class="container-fluid">
        <div class="col-xl-6 offset-lg-3">
            <a href="{% url 'users:index' %}">Regresar</a>
            <div class="card mt-2">
                <div class="card-body">
                    <h3 class="mb-4 text-center">Crear agenda de Entrenamiento</h3>
                    {% if form.errors %}
                    <p class="alert alert-danger">
                        {% for field, error in form.errors.items  %}
                        {{error.0}}
                    {% endfor %}
                    </p>
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="formrow-firstname-input">{{form.fecha.label}}</label>
                            {{form.fecha}}
                        </div>
                        <div class="form-group">
                            <label for="formrow-firstname-input">{{form.slot.label}}</label>
                            {{form.slot}}
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-info w-lg waves-effect waves-light"
                            style="color:white">Agendar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
    date = document.getElementById('id_fecha')
    select = document.getElementById('id_slot')

    date.onchange = function () {
        value = date.value
        $.ajax({
            type: 'POST',
            url: "{% url 'training:api-training-get-slots' %}",
            data: {
                "date": value,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'user': '{{request.user.email}}'
            },
            timeout: 5000,
            dataType: "json",
        })
        .done(function (response) {
            result = response.result
            if (result) {
                
                select.disabled = false;
                for (i = 0, len = result.length; i < len; i++) {
                    slot = result[i];
                    var opt = document.createElement('option');
                    opt.value = slot.id;
                    opt.innerHTML = slot.hour_init + ' a ' + slot.hour_end;
                    select.appendChild(opt);
                  } 
              }
        })
        .fail(function (response) {
            select.disabled = true;
            Swal.fire(
                'Uy... no hay clases disponibles para esta fecha',
                '<p>Intenta buscar en otra fecha.</p>',
                'error'
            )
        })
    };
</script>
{% endblock js %}