{% extends 'users/base.html' %}
{% load static i18n static %}
{% block title %}Calendario{% endblock %}

{% block css %}
<link href="{% static 'assets/css/index.css' %}" rel="stylesheet">
<style>
  .clickeable {
    cursor: pointer;
  }
  a {
    text-decoration:unset;
  }
  .rounded-pill {
    border-radius: 50px;
    border: 1px solid #e9ecef;
    padding-right: 18px;
  }

</style>
{% endblock css %}

{% block container %}

<div class="adminuiux-wrap">
  {% include 'shared/sidebar.html' %}
<main class="adminuiux-content has-sidebar" onclick="contentClick()">
  <div class="container mt-3" id="main-content">
    <a type="button" class="btn btn-outline-theme mb-3 btn-xs" href="{% url 'users:index' %}">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left-circle"><circle cx="12" cy="12" r="10"/><polyline points="12 8 8 12 12 16"/><line x1="16" y1="12" x2="8" y2="12"/></svg>
      Regresar
    </a>

    <p class="h6 mb-3">Mi calendario</p>
    <div class="row gx-3 align-items-center mb-2">
      <div class="col">
        <hr class="">
      </div>
      <div class="col-auto">
        <p class="small text-secondary">Mis entrenos</p>
      </div>
      <div class="col">
        <hr class="">
      </div>
    </div>
    {% if days %}
    <div class="row gx-3">
    {% for day in days %}
      <div class="col-6 col-md-6">
        <a href="{% url 'training:training-types' day.date %}?{{request.GET.urlencode}}">
        <div class="row gx-3">
          <div class="col-12 col-md-12">
            <div class="card adminuiux-card mb-3">
              <div class="card-body">
                <div class="row gx-2 align-items-center mb-2">
                  <div class="col">
                    <p class="small">{{day.date}}</p>
                  </div>
                  <div class="col-auto">
                    <p><span class="badge badge-sm text-bg-theme-1"></span></p>
                  </div>
                </div>
                <h6 class="text-theme-1 text-truncated mb-1">{{day.day}}</h6>
                <button class="btn btn-sm btn-link bg-white-opacity rounded-pill mt-4"><i class="bi bi-play me-1"></i> Ver clases</button>
              </div>
            </div>
          </div>

        </div>
      </a>
      </div>


      {% endfor %}
    </div>
    {% else %}
    <div class="col-6 col-md-4 col-lg-3 clickeable" onclick="window.location.href=`{% url 'training:schedule-v1' %}`">
      <div class="card adminuiux-card border-0 height-150 bg-theme-accent-1 mb-3 hover-action">
        <div class="card-body position-relative">
          <div class="hover-action-visible position-absolute top-0 end-0 m-3" data-bs-toggle="modal"
            data-bs-target="#addreminder" title="Add Reminder"><button
              class="btn btn-sm btn-square btn-theme theme-blue rounded-circle"><i class="bi bi-plus"></i></button></div>
          <p class="opacity-75 mb-4">Aún no tienes entrenos</p>
          <p class="text-truncated small mb-0">Agenda acá</p>
          <div
            class="avatar avatar-20 position-absolute bottom-0 end-0 rounded-circle bg-white-opacity text-white text-center m-2"
            ><span class="fs-12">+1</span></div>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</main>
</div>
{% endblock %}
{% block js %}
<script>

  function cancelSession(pk_session) {
    Swal.fire({
      title: "Estas seguro de cancelar el entrenamiento?",
      text: "Es posible que pierdas el puesto!",
      type: "warning",
      showCancelButton: true,
      confirmButtonText: "Si, seguro!",
      cancelButtonText: "Noooo!",
    }).then((result) => {
      if (result.value) {
        $.ajax({
          type: 'POST',
          url: "{% url 'training:api-training-cancel-session' %}",
          data: {
            "user_training": pk_session,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
          },
          timeout: 5000,
          dataType: "json",
        })
          .done(function (response) {
            var elem = document.getElementById('event_' + pk_session);
            elem.parentNode.removeChild(elem);
            Swal.fire({
              title: "Eliminado!",
              text: "Tu sessión de entrenamiento ha sido cancelada.",
              type: "success"
            })
          })

      }
      else {
        Swal.fire({
          title: "Ojo pueeees",
          text: "No hemos eliminado tu entreno, nos vemos en Neural :)",
          imageUrl: "{% static 'images/brain.png' %}",
          imageWidth: 150,
          imageHeight: 150,
        })
      }
    })
  }

</script>
{% endblock js %}
