{% extends 'base.html' %}
{% load i18n static %}
{% block content %}
{% language 'es' %}
<div class="page-content">
  <div class="container-fluid">
    {% language 'es' %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
          aria-hidden="true">&times;</span>
      </button>{% if 'safe' in message.tags %}
      {{ message|safe }}
  {% else %}
      {{ message }}
  {% endif %}

    </div>
    {% endfor %}
    {% endif %}
    {% endlanguage %}
    <div class="col-xl-6 offset-lg-3">
      <a href="{% url 'training:training-types' slot.date|date:'Y-m-d' %}">Regresar</a>
      <div class="card mt-2 ml-0 mr-0 pl-0 pr-0">
        <div class="card-body ml-0 mr-0 pl-0 pr-0 text-center">
          <h3 class="text-center">Confirmar Entreno:</h3>
          <h4 class="text-center mt-0 mb-4"><small>{{slot.class_trainging.training_type.name}} |
              {{slot.date|date:"l d"}}</small></h4>

          <div class="product-color">
            <div class="text-center mb-5">
              <h1 class="display-2 font-weight-medium">{{slot.available_places}}</h1>
              <h4 class="text-uppercase">Cupos</h4>

              {% if slot.available_places < slot.max_places %} <p>Vas a entrenar con:</p>

                {% for user_train in slot.users %}
                <small>💪{{user_train.user.first_name}}</small>
                <br>
                {% endfor %}
                {% endif %}
                <form method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-success waves-effect waves-light mt-5">
                    <i class="bx bx-check-double font-size-16 align-middle mr-2"></i> Confirmar entreno
                  </button>
                </form>

            </div>

          </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endlanguage %}
{% endblock content %}

{% block js %}
{% endblock js %}
