{% extends 'base.html' %}
{% load i18n %}
{% load training_tags %}


{% block styles %}
<style>
    .disabled-item {
         color:brown !important
    }
</style>
{% endblock styles %}
    
{% block content %}
{% language 'es' %}

<div class="page-content">
    <div class="container-fluid">
        <div class="col-xl-6 offset-lg-3">
            <a href="{% url 'training:schedule-v1' %}">Regresar</a>
            <h3 class="text-center mb-0">{{name_day}}</h3>
            <h4 class="text-center mt-0 mb-4"><small>{{date}}</small></h4>
            {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>{{ message }}

            </div>
            {% endfor %}
            {% endif %}
            <div class="mt-2 row">
                
                {% if sessions %}

                    
                {% for session in sessions %}
                <a href="{% if session.available_places > 0 and pemission_to_schedule %}{% url 'training:select_space' session.pk %}{% endif %}"
                    style="display:block; width:100%">
                    <div class="col-sm-12">
                        <div class="card mini-stats-wid">
                            <div class="card-body">
                                <div class="media">
                                    <div class="mr-3 align-self-center">
                                        <i class="{{session.training_type|get_icon}} h2 mb-0"></i>
                                    </div>
                                    <div class="media-body">
                                        <p class="text-muted mb-0 d-inline">
                                            {{session.hour_init|date:"f"}} a
                                            {{session.hour_end|date:"f A"}}
                                        </p>
                                        {% if session.available_places < 1 or not pemission_to_schedule %}
                                        <span class="badge badge-pill badge-danger d-inline">Acceso Denegado</span>
                                        {% endif %}
                                        <h5 class="mb-0">{{session.get_training_type_display}} <span
                                                class="font-size-12" style="color:#0ca2df">| Cupos:
                                                {{session.available_places}}</span></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% else %}
                <div class="text-center">
                    <h3 class="text-center">No hay clases disponibles para este día</h3>
                </div>
               
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endlanguage %}
{% endblock content %}

{% block js %}
{% endblock js %}