{% extends 'users/base.html' %}
{% load static i18n static %}
{% block title %}Calendario{% endblock %}

{% block css %}
<link href="{% static 'assets/css/index.css' %}" rel="stylesheet">
<style>
  .clickeable {
    cursor: pointer;
  }

  a {
    text-decoration: unset;
  }
</style>
{% endblock css %}
{% block container %}
<div class="adminuiux-wrap">
  {% include 'shared/sidebar.html' %}
  <main class="adminuiux-content has-sidebar" onclick="contentClick()">

    <div class="container mt-3" id="main-content">
      <a type="button" class="btn btn-outline-theme mb-3 btn-xs" href="{% url 'training:schedule-v1' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left-circle"><circle cx="12" cy="12" r="10"/><polyline points="12 8 8 12 12 16"/><line x1="16" y1="12" x2="8" y2="12"/></svg>
        Regresar
      </a>
      <div class="col-12 text-center">
        <p class="h4 mb-3">{{name_day}} {{date}}</p>
      </div>
      {% if messages %}
      {% for message in messages %}
      <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
        {% if 'safe' in message.tags %}
        {{ message|safe }}
        {% else %}
        {{ message }}
        {% endif %}
      </div>
      {% endfor %}
      {% endif %}
      {% if sessions %}
      {% for session in sessions %}
      <a
        href="{% if session.available_places > 0 and pemission_to_schedule %}{% url 'training:select_space' session.pk %}{% endif %}">
        <div class="card adminuiux-card border-0 bg-gradient-6">
          <div class="card-body">
            <div class="row">
              {% if already_scheduled %}
              <div class="col mb-2 mt-2">
                <p>
                  <span class="badge badge-sm badge-success text-bg-theme-1"><i class="bi bi-patch-check-fill"></i> Ya reservaste esta clase
                  </span>
                </p>
              </div>
              {% endif %}
              <div class="col-8">
                <h6 class="text-truncated">
                  {{session.class_trainging.training_type.name}}
                </h6>
                <p class="text-secondary fs-14 mb-2">
                  <span class="me-1"><i class="bi bi-clock me-1"></i> {{session.class_trainging.hour_init|date:"f"}} a
                    {{session.class_trainging.hour_end|date:"f A"}}</span>
                  <span class="me-1">
                    <i class="bi bi-fire me-1">
                    </i> 400 kcal</span>
                </p>
                <button class="btn btn-sm btn-link bg-white-opacity"><i class="bi bi-universal-access me-1"></i>
                  Cupos:
                  {{session.available_places}}
                </button>
              </div>
              <div class="col-4">
                <figure class="height-90 w-100 rounded coverimg mb-0">
                  <img src="{% static 'assets/img/fitness/image-5.jpg' %}" alt="" style="display: none;">
                </figure>
              </div>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
      {% else %}
      <div class="text-center mb-3">
        <h1 class="fw-bold text-theme-accent-1 mb-0">Ojo</h1>
        <h4 class="text-theme-1">No hay clases disponibles para este día</h4>
      </div>
      {% endif %}

    </div>
  </main>
</div>
{% endblock %}
{% block js %}

{% endblock js %}
