{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Clases del día {{day_name}}</h4>
                <div class="table-responsive">
                    <table class="table table-nowrap table-centered mb-0">
                        <tbody>
                            {% for day_class in day_classes %}
                                <form method="post">
                                    <tr>
                                        {% csrf_token %}
                                        {{ form.non_field_errors }}
                                        <input type="hidden" name="class_pk" value="{{ day_class.pk }}">
                                        <td>
                                            <label for="{{ form.training_type.id_for_label }}">Tipo de Entrenamiento:</label>
                                            <select name="training_type" class="form-control" required="" id="id_training_type">
                                                {% for option in training_types %}
                                                    <option value={{option.pk}} {% if option.pk ==  day_class.training_type.pk %} selected {% endif %}>{{option}}</option>
                                                {% endfor %}
                                            </select>

                                        </td>
                                        <td>
                                            <label for="{{ form.hour_init.id_for_label }}">Hora de inicio:</label>
                                            <select name="hour_init" class="form-control" id="id_hour_init">
                                                {% for hour in form.hour_choices %}
                                                    {% if hour.1 == day_class.hour_init|time:"H:i" %}
                                                        <option value={{hour.1}} selected>{{hour.1}}</option>
                                                    {% else %}
                                                        <option value={{hour.1}} >{{hour.1}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <label for="{{ form.hour_end.id_for_label }}">Hora de fin:</label>
                                            <select name="hour_init" class="form-control" id="id_hour_init">
                                                {% for hour in form.hour_choices %}
                                                    {% if hour.1 == day_class.hour_end|time:"H:i" %}
                                                        <option value={{hour.1}} selected>{{hour.1}}</option>
                                                    {% else %}
                                                        <option value={{hour.1}} >{{hour.1}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <input type="submit" value="Guardar">
                                        </td>
                                    </tr>
                                </form>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
