{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row ml-xs-0 mt-2">
            <div class="col-lg-8 col-md-8 col-sm-12 buttons-days" style="margin: 0 auto; text-align:center">
                <h1 class="mb-4">Días de la Clase:</h1>
            {% for day_value, day_name in days_choices %}
            <a href="{% url 'training:detail-calendar' day_name %}">
                <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mr-2 mb-3">
                    {{ day_name }}
                </button>
            </a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
