{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <meta name="application-name" content="FitnessUIUX" />
  <meta name="apple-mobile-web-app-title" content="FitnessUIUX" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="white" />
  <link rel="apple-touch-icon" href="{% static 'assets/img/favicon.ico'%}" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Iniciar sesión</title>
  <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.ico' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=SUSE:wght@100..800&display=swap"
    rel="stylesheet">
  <style>
    :root {
      --adminuiux-content-font: "Open Sans", sans-serif;
      --adminuiux-content-font-weight: 400;
      --adminuiux-title-font: "SUSE", sans-serif;
      --adminuiux-title-font-weight: 600
    }
  </style>

  <script defer="defer" src="{% static 'assets/js/app.js' %}"></script>
  <link href="{% static 'assets/css/app.css' %}" rel="stylesheet">
</head>

<body
  class="main-bg main-bg-opac roundedui adminuiux-header-standard adminuiux-sidebar-standard theme-orange adminuiux-header-transparent adminuiux-sidebar-fill-theme bg-white scrollup"
  data-theme="theme-orange" data-sidebarfill="adminuiux-sidebar-fill-theme" data-bs-spy="scroll"
  data-bs-target="#list-example" data-bs-smooth-scroll="true" tabindex="0"
  data-sidebarlayout="adminuiux-sidebar-standard" data-headerlayout="adminuiux-header-standard"
  data-headerfill="adminuiux-header-transparent">
  <div class="pageloader">
    <div class="container h-100">
      <div class="row justify-content-center align-items-center text-center h-100 pb-ios">
        <div class="col-12 mb-auto pt-4"></div>
        <div class="col-auto"><img src="assets/img/logo.svg" alt="" class="height-80 mb-3">
          <p class="h2 mb-0 text-theme-accent-1">AdminUIUX</p>
          <p class="display-3 text-theme-1 fw-bold mb-4">Fitness</p>
          <div class="loader3 mb-2 mx-auto"></div>
        </div>
        <div class="col-12 mt-auto pb-4">
          <p class="small text-secondary">Please wait we are preparing awesome things...</p>
        </div>
      </div>
    </div>
  </div>
  <main class="container-fluid">
    <div class="auth-wrapper d-flex flex-column minvheight-100">
      <header class="adminuiux-header">
        <nav class="navbar navbar-expand-lg fixed-top">
          <div class="container-fluid"><button class="btn btn-square btn-link" onclick="goBack()"><i
                class="bi bi-arrow-left"></i></button>
            <div class="ms-auto"><a href="fitness-login.html" class="btn btn-link">Sign in</a></div>
          </div>
        </nav>
      </header>
      <script>document.addEventListener("DOMContentLoaded", (function () { $("#title").length > 0 && $(".title").html($("#title").html()) }))</script>
      <div class="row align-items-center justify-content-center py-4 mt-auto">
        <div class="col-11 col-sm-8 col-md-11 col-xl-11 col-xxl-10 login-box">
          <div class="text-center mb-4">
            <h1 class="display-2 fw-bold mb-0">&#129395;<br>{{request.user.first_name|title}}</h1>
            <p class="text-secondary">
              Bienvenidx, a la familia Neural.
            </p>
          </div>
          <a href="{{message}}" target="_blank" class="btn btn-lg btn-outline-theme h-auto w-100 mb-3 text-start">
            <div class="row gx-3 align-items-center p-2">
              <div class="col-auto"><i class="bi bi-journal-medical fs-2 h-auto w-auto"></i></div>
              <div class="col">
                <p class="h6 mb-0">Cuentanos que has finalizado tu registro.</p>
                <p class="opacity-75 fs-14">Haciendo click aquí </p>
              </div>
              <div class="col-auto"><i class="bi bi-chevron-right"></i></div>
            </div>
          </a>
        </div>
      </div>
       <footer class="adminuiux-footer mt-auto">
          <div class="container-fluid text-center"><span class="small">Copyright @2025, <a target="_blank">Neural
                consciente</a>💙</span></div>
        </footer>

    </div>
  </main>
  <script src="assets/js/fitness/fitness-auth.js"></script>
</body>

</html>
