{% extends 'users/base.html' %}

{% block container %}
<main class="adminuiux-content container-fluid vh-100">
  <div class="auth-wrapper d-flex flex-column h-100">
    <header class="adminuiux-header">
      <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid"><button class="btn btn-square btn-link" onclick="goBack()"><i
              class="bi bi-arrow-left"></i></button>
          <div class="ms-auto"><a href="fitness-login.html" class="btn btn-link">Sign in</a></div>
        </div>
      </nav>
    </header>

    <div id="title" class="d-none"></div>
    <div class="row gx-3 align-items-center justify-content-center py-4 mt-auto">
      <div class="col-11 col-sm-8 col-md-11 col-xl-11 col-xxl-10 login-box">
        <div class="mb-4">
          <h2 class="text-theme-accent-1 mb-0">Bienvenidx a</h2>
          <h1 class="fw-bold text-theme-1"><b>Neural</b></h1>
        </div>
        <form action="" method="post">
          {% csrf_token %}
          {% if form.errors %}
									<p class="alert alert-danger">

										{% for key, value in form.errors.items  %}
											{{value.0}}
										{% endfor %}

									</p>

          {% endif %}
        <div class="row gx-3">
          <div class="col">
            <div class="form-floating mb-3">{{form.first_name}} <label for="namef">
              Nombres
            </label></div>
          </div>
          <div class="col">
            <div class="form-floating mb-3">
              {{form.last_name}}<label for="namel">Apellidos</label>
            </div>
          </div>
        </div>
        <div class="form-floating mb-3">{{form.email}} <label for="emailadd">Correo electrónico</label></div>
        <div class="input-group mb-3">
          <div class="form-floating maxwidth-100"><select class="form-select" name="phone_prefix" id="id_phone_prefix" aria-label="Country code">
              <option value="57" selected>🇨🇴 +57</option>
              <option value="1">🇺🇸 +1</option>
            </select> <label for="code">Código</label></div>
          <div class="form-floating">{{form.phone_number}}
            <label for="phonen">Número de Whatsapp</label></div>
        </div>
        <div class="position-relative">
          <div class="form-floating mb-3">{{form.password}}<label for="checkstrength">Contraseña</label></div>
          <button class="btn btn-square btn-link text-theme-1 position-absolute end-0 top-0 mt-2 me-2"><i
              class="bi bi-eye"></i></button>
        </div>
        <div class="feedback mb-3">
          <div class="row">
            <div class="col">
              <div class="check-strength" id="checksterngthdisplay">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div class="col-auto"><span class="small" id="textpassword"></span> <i
                class="bi bi-info-circle text-theme ms-1" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Password should contain atleast 1 capital, 1 alphanumeric & min. 8 characters"></i>
            </div>
          </div>
        </div>
        <div class="position-relative">
          <div class="form-floating mb-3">{{form.password_confirmation}} <label for="passwd">Confirmar contraseña</label></div>
          <button class="btn btn-square btn-link text-theme-1 position-absolute end-0 top-0 mt-2 me-2"><i
              class="bi bi-eye"></i></button>
        </div><button type="submit" class="btn btn-lg btn-theme w-100 mb-4">Registrarme</button>
      </form>
      </div>
    </div>
    <footer class="adminuiux-footer mt-auto">
      <div class="container-fluid text-center"><span class="small">Copyright @2025, <a
        target="_blank">Neural consciente</a>💙</span></div>
    </footer>

  </div>
</main>
{% endblock container %}

{% block js %}
<script>document.addEventListener("DOMContentLoaded", (function () { $("#title").length > 0 && $(".title").html($("#title").html()) }))</script>
{% endblock js %}
