{% load static %}
<!doctype html>

<html lang="en">

<head>

	<meta charset="utf-8" />
	<title>Iniciar sesión</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
	<meta content="Themesbrand" name="author" />
	<!-- App favicon -->
	<link rel="shortcut icon" href="{% static 'images/brain.png' %}">

	<!-- Bootstrap Css -->
	<link href="{% static 'backoffice/assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet"
		type="text/css" />
	<!-- Icons Css -->
	<link href="{% static 'backoffice/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
	<!-- App Css-->
	<link href="{% static 'backoffice/assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body>

	<div class="account-pages my-5 pt-sm-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 col-lg-6 col-xl-5">
					<div class="card overflow-hidden">
						<div class="bg-soft-primary">
							<div class="row">
								<div class="col-7">
									<div class="text-primary p-4">
										<h5 class="text-primary">Registrate en Neural</h5>
										<p></p>
									</div>
								</div>
								<div class="col-5 align-self-end">
									<img src="{% static 'backoffice/assets/images/profile-img.png' %}" alt=""
									class="img-fluid">
								</div>
							</div>
						</div>
						<div class="card-body pt-0"> 
							<div>
								<a href="/">
									<div class="avatar-md profile-user-wid mb-4">
										<span class="avatar-title rounded-circle bg-light">
											<img src="{% static 'images/brain.png' %}" alt="" class="rounded-circle" height="54">
										</span>
									</div>
								</a>
							</div>
							<div class="p-2">
								<form class="form-horizontal" method="post">
									{% csrf_token %}
									{% if form.errors %}
									<p class="alert alert-danger">
										
										{% for key, value in form.errors.items  %}
											{{value.0}}
										{% endfor %}
											
									</p>

									{% endif %}
									<div class="form-group">
										<label for="username">Nombres</label>
										{{form.first_name}} 
									</div>
									<div class="form-group">
										<label for="userpassword">Apellidos</label>
										{{form.last_name}}   
									</div>
									<div class="form-group">
										<label for="useremail">Email</label>
										{{form.email}} 
									</div>
									<div class="form-group">
										<label for="useremail">Número de whatsapp</label>
										{{form.phone_number}} 
									</div>
									<div class="form-group">
										<label for="useremail">Contraseña</label>
										{{form.password}} 
									</div>
									<div class="form-group">
										<label for="useremail">Confirmar contraseña</label>
										{{form.password_confirmation}} 
									</div>
									<div class="mt-4">
										<button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Registrarme</button>
									</div>
								</form>
							</div>
		
						</div>
					</div>
					<div class="mt-5 text-center">
						<div>
							<p>Ya tenés cuenta ? <a href="{% url 'users:login' %}" class="font-weight-medium text-primary"> Inicia sesión</a> </p>
							<p>© 2020. Creado en medallo con  <i class="mdi mdi-heart text-info"></i> mi fai.</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- JAVASCRIPT -->
	<script src="{% static 'backoffice/assets/libs/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'backoffice/assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'backoffice/assets/libs/metismenu/metisMenu.min.js' %}"></script>
	<script src="{% static 'backoffice/assets/libs/simplebar/simplebar.min.js' %}"></script>
	<script src="{% static 'backoffice/assets/libs/node-waves/waves.min.js' %}"></script>

	<!-- App js -->
	<script src="{% static 'js/app.js' %}"></script>
</body>

</html>